/* styles.css */

body {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #333333;
    padding: 10px;
    text-align: center;
    width: 100%;
}

section {
    padding: 20px;
    width: 100%;
    text-align: center;
}

footer {
    background-color: #333333;
    color: #888888;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.product-item {
    padding: 20px;
    text-align: center;
    border: 1px solid #555;
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1; /* Ensure product items are above the slideshow */
}

.product-item img {
    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h2 {
    color: #ff6347;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #333333;
    color: #fff;
    border-radius: 8px;
    z-index: 2;
}

.close {
    color: #fff;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.slideshow-container {
    max-width: 500px;
    margin: auto;
    position: relative;
    overflow: hidden;
    z-index: 3; /* Ensure slideshow is above product items */
}

.mySlides {
    display: none;
    max-width: 100%;
    max-height: 300px; /* Set a maximum height for the slideshow images */
    margin: auto;
    opacity: 0;
    transition: opacity 1s;
}

.mySlides img {
    width: 100%;
    height: auto;
}


.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
